*{
    font-family:fantasy
}

h1, h2, p {
  text-align: center;
  color: red;
}

#login {
  text-align: center;
  color: rgb(94, 15, 15);
}


.follow {
  text-align: right;
  color: purple;
}

div > input {
  text-align: right;
  color: blue;
}

input[type] {
  color: red;
}

button:hover{
    background-color: purple;

}